@page "/admin/manage-blog-posts/new"
@page "/admin/manage-blog-posts/edit/{id:int?}"

@using ArBlog.Extensions
@using Blazored.TextEditor
@using Microsoft.AspNetCore.Components.Sections

@rendermode InteractiveServer

@inject IBlogPostAdminService BlogPostAdminService
@inject ICategoryService CategoryService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IWebHostEnvironment WebHostEnvironment
@inject NavigationManager NavigationManager
@inject ILogger<SaveBlogPost> Logger

<HeadContent>
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
</HeadContent>

<SectionContent SectionName="scripts">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="_content/Blazored.TextEditor/quill-blot-formatter.min.js"></script>
    <script src="_content/Blazored.TextEditor/Blazored-BlazorQuill.js"></script>
</SectionContent>

<AdminHeader Title="@(Id.HasValue && Id > 0 ? "Update Blog Post" : "Create New Blog Post")">
    <ActionButtons>
        <NavLink href="/admin/manage-blog-posts" class="btn-sm btn-primary">Back</NavLink>
    </ActionButtons>
</AdminHeader>

@if (_isLoading)
{
    <Loading />
}

<EditForm Model="_model" OnValidSubmit="SaveBlogPostAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row p-3">
        <div class="col-sm-6">
            <div class="mb-3">
                <label class="form-label">Title</label>
                <InputText @bind-Value="_model.Title" class="form-control form-control-sm" placeholder="Blog post title" />
                <ValidationMessage For="() => _model.Title" class="text-danger" />
            </div>
            <div class="mb-3">
                <label class="form-label">Category</label>
                <InputSelect @bind-Value="_model.CategoryId" class="form-control form-control-sm">
                    <option value="">Select a category</option>
                    @foreach (var category in _categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </InputSelect>
                <ValidationMessage For="() => _model.CategoryId" class="text-danger" />
            </div>
            <div class="mb-3">
                <label class="form-label">Introduction</label>
                <InputText @bind-Value="_model.Introduction" class="form-control form-control-sm" placeholder="Blog post introduction" />
                <ValidationMessage For="() => _model.Introduction" class="text-danger" />
            </div>
            @if (!string.IsNullOrWhiteSpace(_imageUrl))
            {
                <div class="mb-3">
                    <img src="@_imageUrl" style="height: 200px" alt="image" />
                </div>
            }
            <div class="mb-3">
                <label class="form-label">Upload Image</label>
                <InputFile @bind-Value="_model.Image" OnChange="HandleFileUploadAsync" class="form-control-file" />
            </div>
            <div class="mb-3">
                <label class="form-label">
                    Featured
                    <InputCheckbox @bind-Value="_model.IsFeatured" class="form-check" />
                </label>
            </div>
            <div class="mb-3">
                <label class="form-label">
                    Publish
                    <InputCheckbox @bind-Value="_model.IsPublished" class="form-check" />
                </label>
            </div>
            @if (!string.IsNullOrWhiteSpace(_contentErrMsg))
            {
                <div class="mb-3">
                    <p class="text-danger">@_contentErrMsg</p>
                </div>
            }
            <div class="mb-3">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>
        <div class="col-sm-6 d-flex">
            <div class="mb-3 flex-grow-1">
                <label class="form-label">Content: </label>

                <BlazoredTextEditor @ref="@quillHtml" Placeholder="Enter content...">
                    <ToolbarContent>
                        <select class="ql-header">
                            <option selected=""></option>
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                            <option value="4"></option>
                            <option value="5"></option>
                        </select>
                        <span class="ql-formats">
                            <button class="ql-bold"></button>
                            <button class="ql-italic"></button>
                            <button class="ql-underline"></button>
                            <button class="ql-strike"></button>
                        </span>
                        <span class="ql-formats">
                            <select class="ql-color"></select>
                            <select class="ql-background"></select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-list" value="ordered"></button>
                            <button class="ql-list" value="bullet"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-link"></button>
                        </span>
                    </ToolbarContent>
                    <EditorContent>
                        @((MarkupString)_model.Content)
                    </EditorContent>
                </BlazoredTextEditor>

                @* <ValidationMessage For="() => _model.Content" /> *@
            </div>
        </div>
    </div>
</EditForm>

@code {

    [Parameter]
    public int? Id { get; set; }

    private BlogPost? _model;
    private bool _isLoading;

    private Category[] _categories = [];

    private BlazoredTextEditor? quillHtml;
    private string? _contentErrMsg;

    private string? _imageUrl;
    private IBrowserFile? _fileToUpload;

    protected override async Task OnInitializedAsync()
    {
        _model = new();
        _isLoading = true;
        _categories = await CategoryService.GetCategoriesAsync();
        if (Id.HasValue && Id > 0)
        {
            var blogPost = await BlogPostAdminService.GetBlogPostAsync(Id!.Value);
            if (blogPost is null)
            {
                NavigationManager.NavigateTo("/admin/manage-blog-posts", replace: true);
                return;
            }   
            _model = blogPost;
            _imageUrl = _model.Image;
        }
        _isLoading = false;
    }

    private async Task PreviewImageAsync(IBrowserFile file)
    {
        var extension = Path.GetExtension(file.Name)[1..]; //Take the range from first postion to end. Skip the first char. i.e .png will be taken as png after skipping dot.
        using var imageStream = file.OpenReadStream();
        using MemoryStream ms = new();
        await imageStream.CopyToAsync(ms);

        //data:image/type;base64,contentssdfjdfslldsf
        _imageUrl = $"data:image/{extension};base64,{Convert.ToBase64String(ms.ToArray())}";
    }

    private async Task HandleFileUploadAsync(InputFileChangeEventArgs e)
    {
        _isLoading = true;

        await PreviewImageAsync(e.File);

        _fileToUpload = e.File;

        _isLoading = false;
    }

    private async Task<string?> SaveFileToDiscAsync(IBrowserFile broserFile)
    {
        var randomFileName = Path.GetRandomFileName();
        var extension = Path.GetExtension(broserFile.Name);

        var folderPath = Path.Combine(WebHostEnvironment.WebRootPath, "images", "posts"); //../wwwroot/images/post
        Directory.CreateDirectory(folderPath);

        var fileNamePath = Path.Combine("images", "posts", randomFileName + extension);
        var fullPath = Path.Combine(WebHostEnvironment.WebRootPath, fileNamePath);

        await using FileStream fs = new FileStream(fullPath, FileMode.Create);
        try
        {
            await broserFile.OpenReadStream().CopyToAsync(fs);
            return fileNamePath.Replace("\\", "/");
        }
        catch (Exception ex)
        {
            _contentErrMsg = ex.Message;
            return null;
        }
        finally
        {
            fs.Close();
        }
    }

    private void DeleteExistingImage(string imageUrl)
    {
        try
        {
            var imagePath = imageUrl.Replace("/", "\\");
            var fullPath = Path.Combine(WebHostEnvironment.WebRootPath, imagePath);
            File.Delete(imageUrl);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.ToString());
        }
    }

    private async Task SaveBlogPostAsync()
    {
        _isLoading = true;

        try
        {
            if (quillHtml == null)
            {
                _contentErrMsg = "Editor is not initialized.";
                return;
            }

            var content = await quillHtml!.GetHTML();
            if (string.IsNullOrWhiteSpace(content))
            {
                _contentErrMsg = "Content cannot be empty.";
                return;
            }
            _model!.Content = content;
            string _imageUrlToDelete = null;

            if (_fileToUpload != null)
            {
                var uploadedFileUrl = await SaveFileToDiscAsync(_fileToUpload);
                if (uploadedFileUrl is null)
                    return;

                // If in edit blog post mode, delete existing image
                if (Id.HasValue && Id > 0 && !string.IsNullOrWhiteSpace(_model.Image))
                {
                    _imageUrlToDelete = _model.Image;
                }

                _model.Image = uploadedFileUrl;
                _fileToUpload = null;
            }

            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var userId = authState.User.GetUserId();

            var savedBlogPost = await BlogPostAdminService.SaveBlogPostAsync(_model, userId);
            _model.Slug = savedBlogPost.Slug;
            _model.Id = savedBlogPost.Id;

            if (!string.IsNullOrWhiteSpace(_imageUrlToDelete))
                DeleteExistingImage(_imageUrlToDelete);

            _isLoading = false;
            NavigationManager.NavigateTo("/admin/manage-blog-posts");
            await Task.Delay(1000);
        }
        catch (Exception ex)
        {
            _contentErrMsg = ex.Message;
        }
        finally
        {
            _isLoading = false;
        }
    }
}
