<ol class="list-featured">
	@foreach (var p in Posts)
	{
		<li>
			<span>
				<h6 class="font-weight-bold">
					<a href="posts/@p.Slug" class="text-dark">@p.Title</a>
				</h6>
				<p class="text-muted">
					@p.User.Name <a href="@p.Category.Slug-posts" title="@p.Category.Name Posts">@p.Category.Name</a>
				</p>
			</span>
		</li>
	}
</ol>

@code {
	[Parameter, EditorRequired]
	public BlogPost[] Posts { get; set; } = [];
}
